* {
	padding:0px;
	margin: 0px;
	background-color: white;
}

body {
	background-color: grey;
	width: 1200px;
  	margin: 0 auto;
  	font-family: 'Poppins', sans-serif;
}

.containerr {
	display: flex;
	flex-wrap: wrap;	
}

html {
	scroll-behavior: smooth;
}


.header {
	background-color: white;
	height: 100px;
	width: 100%

	
}

h1 {
	float: left;
	margin-top: 18px;
	margin-left: 70px;
	font-size: 40px;
	font-family: 'Poppins', sans-serif;	


}

ul {
	float: right;
	margin-top: 31px;
	margin-right: 100px;
}

ul li{
list-style: none;
display: inline-block;
margin-left: 100px;
}

ul li a{
	text-decoration: none;
	color: black;
	font-size: 23px;
	color:black;
	}

.container {
	text-align: center;
	width:800px;
	margin: 0 auto;
}

h2 {
	font-size: 35px;
	margin-top: 70px;
	text-align: center;

}

p {
	font-size: 23px;
	margin-top: 20px;
	text-align: center;
}
#fotos {
	word-spacing: 50px;
	margin-top: 40px;
}

#html {
	margin-top: 20px;
	width: 120px;
	height: 120px;
	margin-left: 10px;
	transition: transform .2s;

}

#css {
	width: 95px;
	height: 120px;
	margin-left: 10px;
	transition: transform .2s;
}

#php {
	color: grey;
	width: 130px;
	height: 100px;
	text-align: center;
	margin-left: 10px;
	margin-bottom: 3px;
	transition: transform .2s;

}

#sql {
width: 110px;
height: 110px;
margin-bottom: 0px;
transition: transform .2s;
}

#html:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

#css:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

#php:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

#sql:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}


.list:hover {
	color: grey; 
  }

#xd {
	font-size: 28px;
}

progress {
	font-size: 15	px;
	border:2px solid black;

}

.contenedor {
	display: flex;
	background-color: white;
	height: 200px;
	width: 100%;
	flex-flow: row wrap;
	justify-content: center;
	column-gap: 20px;
	

}

.caja {
	background-color: grey;
	width: 200px;
	height: 150px;
	text-align: center;
	border:4px solid black;
	margin-top: 60px;
	box-shadow: 5px 5px 5px black;

}

h4 {
	margin-top: 10px;
	background-color: grey;
	font-size: 25px;
}

#con {
	scroll-behavior: auto;
}






